version: "3.9"

services:
  app:
    build: ./app
    container_name: express-app
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: redis-db
    restart: always
    ports:
      - "6379:6379"

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
